@font-face {
    font-family: "Roboto400";
    src: url(../fonts/RobotoCondensed/Regular400.ttf);
}

@font-face {
    font-family: "Raleway700";
    src: url(../fonts/Raleway/Bold700.ttf);
}

@font-face {
    font-family: "Raleway600";
    src: url(../fonts/Raleway/SemiBold600.ttf);
}

@font-face {
    font-family: "Roboto300";
    src: url(../fonts/RobotoCondensed/Light300.ttf);
}

@font-face {
    font-family: "Roboto700";
    src: url(../fonts/RobotoCondensed/Bold700.ttf);
}
